<%= form_for(@markdown) do |f| %>
  <% if @markdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@markdown.errors.count, "error") %> prohibited this markdown from being saved:</h2>

      <ul>
      <% @markdown.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :markdown %><br>
    <%= f.text_area :markdown %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
